<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a4ic1.projektkoncowyfilipowski">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AlbumActivity"
            android:label="@string/main_b" />
        <activity android:name=".Activities.AlbumActivity2" />
        <activity android:name=".Activities.ImageActivity" />
        <activity
            android:name=".Activities.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.NotesActivity"
            android:label="@string/main_e" />
        <activity
            android:name=".Activities.EditNoteActivity"
            android:label="Edytuj notatkę" />
        <activity
            android:name=".Activities.CollageActivity"
            android:label="Wybierz kolaż" />
        <activity
            android:name=".Activities.EditCollageActivity"
            android:label="Edytuj kolaż" />
        <activity android:name=".Activities.LettersActivity" />
        <activity android:name=".Activities.NetworkActivity"></activity>
    </application>

</manifest>