body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
}

#div1 {
}

#resetButton {
    position: absolute;
    z-index: 200;
    width: 70px;
    height: 30px;
    bottom: 10px;
    right: 25%;
    left: 50%;
    margin: 0;
    font-size: 16px;
    margin-left: -35px;
}

.fullScreen {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
}

#textDivLogin {
    position: relative;
    margin: 60px auto;
    width: 500px;
    height: 150px;
    border: 5px crimson double;
    border-radius: 20px;
    color: crimson;
    text-align: center;
    line-height: 150px;
    font-size: 55px;
}

.loginDiv {
    position: relative;
    margin: 30px auto;
    width: 500px;
    border: 5px crimson double;
    border-radius: 20px;
    color: crimson;
    text-align: center;
    line-height: 150px;
    font-size: 55px;
}

.input {
    display: block;
    position: relative;
    margin: 40px auto;
    width: 60%;
    height: 50px;
    background-color: black;
    border: 1px crimson solid;
    color: crimson;
    outline: none;
    text-align: center;
    font-size: 25px;
}

#loginInput {
    margin-top: 60px;
}

.button {
    display: block;
    position: relative;
    margin: 30px auto;
    width: 40%;
    height: 50px;
    background-color: black;
    border: 1px crimson solid;
    color: crimson;
    outline: none;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

    .button:hover {
        background-color: crimson;
        color: black;
    }

#registerButton {
    margin-bottom: 60px;
}

#infoDiv {
    position: relative;
    margin: 30px auto;
    font-size: 25px;
    color: crimson;
    text-align: center;
}

#waitingScreen {
    z-index: 95;
}

#textDivWaiting {
    position: relative;
    margin: 60px auto;
    color: crimson;
    text-align: center;
    line-height: 150px;
    font-size: 55px;
    padding: 30px;
}

#ui1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 60px;
    background-color: black;
    color: crimson;
    border-bottom: 2px crimson solid;
}

#ui2 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 45px;
    background-color: black;
    color: crimson;
    border-top: 2px crimson solid;
}

#canvas1 {
    position: absolute;
    bottom: 11px;
    left: 12px;
    width: 50%;
    height: 20px;
    border-radius: 25px;
}

#nameDiv1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 200px;
    height: 60px;
    background-color: black;
    color: crimson;
    border-right: 2px crimson solid;
    text-align:left;
    line-height:60px;
    font-size:30px;
    padding-left:10px;
    overflow:hidden;
}

#nameDiv2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
    width: 200px;
    height: 60px;
    background-color: black;
    color: crimson;
    border-left: 2px crimson solid;
    text-align: right;
    line-height: 60px;
    font-size: 30px;
    padding-right: 10px;
    overflow: hidden;
}

#timeDiv1 {
    position: absolute;
    top:0;
    left: calc(50% - 77px);
    z-index: 50;
    width: 150px;
    height: 29px;
    background-color: black;
    color: crimson;
    border-bottom: 2px crimson solid;
     border-right: 2px crimson solid;
      border-left: 2px crimson solid;
    text-align: center;
    line-height: 29px;
    font-size: 15px;
    overflow: hidden;
}

#timeDiv2 {
    position: absolute;
    bottom:0;
    left: calc(50% - 77px);
    z-index: 50;
    width: 150px;
    height: 29px;
    background-color: black;
    color: crimson;
     border-right: 2px crimson solid;
      border-left: 2px crimson solid;
    text-align: center;
    line-height: 29px;
    font-size: 15px;
    overflow: hidden;
}

#scoreDiv1 {
    position: absolute;
    top:0;
    left: 212px;
    z-index: 50;
    width: 60px;
    height: 60px;
    background-color: black;
    color: black;
    border-right: 2px crimson solid;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    overflow: hidden;
     background-size: 60px 60px;
}
#scoreDiv2 {
    position: absolute;
    top:0;
    right: 212px;
    z-index: 50;
    width: 60px;
    height: 60px;
    background-color: black;
    color: black;
    border-left: 2px crimson solid;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    overflow: hidden;
     background-size: 60px 60px;
}

#helpBtn {
    position: absolute;
    top: 5px;
    right: 6px;
    z-index: 50;
    width: 30px;
    height: 30px;
    background-color: black;
    color: crimson;
    border: 2px crimson solid;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    font-size: 24px;
    overflow: hidden;
    cursor: pointer;
}

    #helpBtn:hover {
        background-color: crimson;
        color: black;
    }

#helpDiv {
    position: absolute;
    top: -545px;
    right: 0px;
    z-index: 50;
    width: 500px;
    height: 530px;
    background-color: black;
    color: crimson;
    opacity: 0.8;
    border: 2px crimson solid;
    border-right: none;
    text-align: justify;
    font-size: 20px;
    overflow: auto;
    padding: 5px;
}
span{
    font-weight:bold;
    font-size:28px;
    text-align:center;
}

#fpsDiv {
    position: absolute;
    top: 0px;
    right: 40px;
    z-index: 50;
    width: 80px;
    height: 45px;
    background-color: black;
    color: crimson;
    text-align: center;
    font-size: 16px;
    line-height:45px;
}