body {
    margin: 0;
    overflow: hidden;
}

#div1 {
}

#divSter {
    position: absolute;
    z-index: 100;
    top: 10px;
    right: 10px;
    background-color: crimson;
    width: 140px;
}
